body, html
{
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	padding-top: 5px;	
	border: 0px;
	font: 85% arial, hevetica, sans-serif;
	text-align: center;
	color: #333;
}

#container
{
	margin: 0em auto;
	width: 1000px;
	text-align: center;
	background-color: white;
	border: 1px solid #CCCCCC;
}

#header
{
	width: 1000px;
	height: 50px;
	background-repeat: no-repeat;
	border: 0px solid yellow;
	background-color: none;
	margin: 0px;
}

#navCon
{
	float: left;
	width: 165px;
	height: 100%;
	text-align:left;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 15px;
	padding-bottom: 20px;
}

#content
{
	background-image: url(css-images/hg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	width: 800px;
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	float: right;
	text-align:left;
}

#content p
{
	line-height: 165%;
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	font-size: 90%;
	background-color: #FFFFFF;
	padding: 5px;
	font-size: 90%;
	border-top: 0px solid #CCCCCC;
	width: 990px;
	border-bottom: 0px solid maroon;
	border-left: 0px solid maroon;
	border-right: 0px solid maroon;
}

.label{
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
}

.text{
	text-align: left;
}