<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
	   xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       					   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://jax-ws.dev.java.net/spring/core http://jax-ws.dev.java.net/spring/core.xsd
						   http://jax-ws.dev.java.net/spring/servlet http://jax-ws.dev.java.net/spring/servlet.xsd"
	   default-autowire="byName" >


    <bean id="propertyPlaceholder"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="ignoreUnresolvablePlaceholders" value="false"/>
            <property name="ignoreResourceNotFound" value="false"/>
            <property name="order" value="1"/>
            <property name="locations">
                <list>
                    <value>classpath:hibernate_hsqldb.properties</value>
					<value>classpath:settings.properties</value>
				</list>
            </property>
    </bean>


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db1.hibernate.connection.driver_class}" />
		<property name="url" value="${db1.hibernate.connection.url}" />
		<property name="username" value="${db1.hibernate.connection.username}" />
		<property name="password" value="${db1.hibernate.connection.password}" />
	</bean>

	<bean id="sessionFactory"
		  class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${db1.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${db1.hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${db1.hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.cache.provider_class">${db1.hibernate.cache.provider_class}</prop>
				<prop key="hibernate.cache.use_query_cache">${db1.hibernate.cache.use_query_cache}</prop>
				<prop key="hibernate.max_fetch_depth">${db1.hibernate.max_fetch_depth}</prop>
				<prop key="hibernate.proxool.pool_alias">PoolDb1</prop>
				<prop key="hibernate.jdbc.batch_versioned_data">${db1.hibernate.jdbc.batch_versioned_data}</prop>
				<prop key="hibernate.jdbc.use_streams_for_binary">${db1.hibernate.jdbc.use_streams_for_binary}</prop>
				<prop key="hibernate.c3p0.max_size">${db1.hibernate.c3p0.max_size}</prop>
				<prop key="hibernate.c3p0.max_size">${db1.hibernate.c3p0.max_size}</prop>
				<prop key="hibernate.c3p0.min_size">${db1.hibernate.c3p0.min_size}</prop>
				<prop key="hibernate.c3p0.timeout">${db1.hibernate.c3p0.timeout}</prop>
				<prop key="hibernate.c3p0.max_statements">${db1.hibernate.c3p0.max_statements}</prop>
				<prop key="hibernate.c3p0.idle_test_period">${db1.hibernate.c3p0.idle_test_period}</prop>
				<prop key="hibernate.c3p0.acquire_increment">${db1.hibernate.c3p0.acquire_increment}</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>
					entity/hibernate/User.hbm.xml
				</value>
			</list>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<context:annotation-config/> 
	<context:component-scan base-package="pe.joedayz.ejemplos.persistence" />	

	<bean id="secureService"
		class="org.ploin.utils.service.impl.SecureService"
		lazy-init="false">
		<property name="min" value="5" />                             <!-- Mindenstlaenge -->
		<property name="max" value="20" />                            <!-- Maximallaenge -->
		<property name="mustContainSmallCharacters" value="false" />  <!-- muessen Kleinbuchstaben im Passwort enthalten sein -->
		<property name="mustContainBigCharacters" value="false" />    <!-- muessen Grossbuchstaben im Passwort enthalten sein -->
		<property name="mustContainNumbers" value="false" />          <!-- muessen Zahlen im Passwort enthalten sein -->
		<property name="mustContainSpecialSign" value="false" />      <!-- muessen Sonderzeichen im Passwort enthalten sein -->
	</bean>

</beans>